.display-settings {
    display: flex;
    justify-content: space-between;
    margin: 2.5rem auto 1rem;
    color: #A9AEB4;
    padding: 0 .5rem;
}

@media(min-width:600px) {
    .list-display .display-settings {
        padding: 0 .5rem;
    }

    .grid-display .display-settings {
        padding: 0 .9rem;
    }
}

@media(min-width:1034px) {
    .grid-display .display-settings {
        padding: 0 1.2rem;
    }
}

.gry-bld {
    color: #A9AEB4;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 700;
}

.drk {
    color: #323C46;
}

/* LEFT SIDE - showing options */
.showing-options {
    display: flex;
    align-items: flex-start;
}

.showing-options.expanded {
    height: 100%;
}

.showing-options.hidden {
    height: 24px;
    overflow: hidden;
}

.showing-options p {
    margin-left: .5rem;
}

.showing-options ul {
    display: flex;
    flex-direction: column;
    line-height: 24px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-align: center;
}

.showing-options li {
    list-style: none;
    margin: 0 .5rem;
}

@media(min-width:1034px) {

    .showing-options p {
        display: none;
    }

    .showing-options ul {
        display: grid;
        grid-template-areas: "allclass future past";

    }
    .all {
        grid-area: allclass;
    }

    .future {
        grid-area: future;
    }

    .past {
        grid-area: past;
    }
}

/* RIGHT SIDE - layout */

.layout-icon {
    display: flex;
    margin: 0 .5rem;
}

.layout-icon div {
    margin-left: 8px;
}

.layout-icon .selected-layout {
    color: #323C46;
}