@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Nunito+Sans:wght@400;600&display=swap');

body {
  background-color: #F5F5F5;
  margin: 0;
  font-family: 'Hind', sans-serif;
}

h1,
h2,
h3,
p {
  color: #323C46;
  margin: 0;
  font-weight: 400;
  line-height: 1.5rem;
}

.headline {
  font-size: 1.5rem;
  line-height: 3rem;
}
.sub-head {
  color: #949EA8;
  font-size: 14px;
  line-height: 1.5rem;
}

.main-container {
  min-height: calc(100vh - 3.6rem);
  padding: 1.8rem 1.5rem;
}

.container {
  margin: 1rem auto;
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* back to classes link */
.back{
  color: #323C46;
  text-decoration: none;
font-size: 1rem;
}

/* Inputs */
.input-container {
  width: 90%;
  max-width: 30rem;
  margin: 0 auto;
}
@media(min-width:1000px){
  .input-container {
    width: 100%;
    margin: 0 
  }
}
input {
  font-size: 1rem;
  padding: .5rem 0;
  margin-bottom: 1rem;
  width: 100%;
  border: none;
  border-bottom: solid 1px #C9CED3;
}

input::placeholder {
  color: #C9CED3;
}

label {
  display: block;
  text-align: left;
  color: #C9CED3;
  font-size: 14px;
  height: 22.4px;
}

/* Buttons */
button {
  font: inherit;
  letter-spacing: 1px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
}

.btn-green, .join {
  background-color: #22D486;
  color: #ffffff;
}

.btn-grey, .edit {
  background-color: #D9DCE1;
  color: #A9AEB4;
}

.btn-red, .leave {
  background-color: #FF0000;
  color: #ffffff;
}

.btn-blk {
  background-color: #323C46;
  color: #ffffff;
}

.btn-lrg {
  font-size: 16px;
  margin-top: 2rem;
  width:100%;
  max-width: 240px;
  height: 57px;
}

.btn-sml {
  font-size: 14px;
  width: 100px;
  height: 32px;
}
