.login-page {
    background-color: #ffffff;
    text-align: center;
}

.login-page>div {
    /* header:h1.5, main-container: h1.8 w1.5 */
    min-height: calc(100vh - 1.6rem - 3.6rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login{
    margin: 2rem 0;
}

.login form {
    margin-top: 1.5rem;
}

.login-link {
    color: #C9CED3;
    margin: 24px;
}

.login-link a {
    color: #949EA8;
    font-weight: 500;
    text-decoration: none;
}

/* alternate login links */
.top-right .login-link {
    display: none;
}

.quote-ctr {
    display: none;
}

@media(min-width:1000px) {
    .login-page {
        background-image: url("../images/classy_bg.png");
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
    }

    .login-page>div {
        /* header:h1.5, main-container: h1.8 w1.5 */
        height: calc(100vh - 1.6rem - 3.6rem);
        justify-content: unset;
        display: grid;
        grid-template-columns: 20.9rem auto;
        margin: 0 -1.5rem;
    }

    .quote-ctr {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        font-weight: 500;
        font-size: 1.1rem;
        margin: 1.5rem 2rem;
    }

    .quote {
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .login-page .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .login-page .login>div {
        width: 30rem;
        text-align: left;
    }

    .top-right .login-link {
        display: inline;
    }

    form .login-link {
        display: none;
    }
}